<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gist.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @gist.url %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @gist.owner_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @gist.type %>
</p>

<%= link_to 'Edit', edit_gist_path(@gist) %> |
<%= link_to 'Back', gists_path %>
